body{
    text-align: center;
}

.btn{
    height: 200px;
    width:200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(198, 61, 109);
}

.yellow{
    background-color: rgb(219, 175, 64);
}

.green{
    background-color: rgb(34, 149, 120);
}

.purple{
    background-color: rgb(201, 91, 201);
}

.flash{
    background-color: white;
}